html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: #231F20;
  font-size: 20px;
  background: #FFF3F5;
}

.wrap {
  position: relative;
  margin-left: 65px;
  margin-top: 65px;
}

.stepper {
  margin-top: -65px;
  margin-left: -65px;
  background: #FF4957;
  cursor: pointer;
  width: 130px;
  height: 130px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 64px;
  position: relative;
  box-shadow: -1px 57px 80px -17px rgba(255, 73, 87, 0.25);
  overflow: hidden;
  z-index: 2;

  span {
    user-select: none;
    position: absolute;
    top: 28px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-weight: 600;
    transform: translateY(-100);

    &.active {
      transform: translateY(0);
    }
  }
}

.arrow-top {
  position: absolute;
  top: -120px;
  transform: translateX(-50%);
  user-select: none;
  width: 50px;
  fill: #FF4957;
}

.arrow-bottom {
  position: absolute;
  bottom: -57px;
  transform: translateX(-50%);
  user-select: none;
  width: 50px;
}

.subtitle {
  font-size: 18px;
  position: relative;
  top: -35px;
  left: 340px;
  color: #FF4957;
  opacity: 0;
  font-weight: bolder;
}

.forfeit {
  position: relative;
  color: #cc3340;
  left:0px;
  width: 500px;
  font-weight: bold;
  font-size: 18px;
  opacity:0;
}
